*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif ;
}

body{
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  padding-top: 2rem;
}






